.logoSearch{
    display: flex;
    gap: .75rem;
}
.search{
    display: flex;
    background-color:  var(--inputColor);
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}
.search>input{
    background-color: transparent;
    border: none;
    outline: none;
}
.search-icon{
display: flex;
align-items: center;
justify-content: center;
background-color: #f99827;
border-radius: 5px;
padding: 4px;
color: white;
}
.search-icon:hover{
    cursor: pointer;
}